header {
  width: 1440px;
  height: 293px;
  margin: auto;
  padding-top: 92px;
  padding-right: 49px;
  padding-left: 51px;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 1340px;
  height: 109px;
}

.header_logo {
  width: 148px;
  height: 105px;
  margin-right: 355px;
  margin-bottom: 4px;
}

.header__menu {
  display: flex;
  justify-content: center;
  width: 439px;
  margin-right: 209px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__links-list_1 {
  display: flex;
  gap: 0px 9px;
  list-style-type: none;
}

.header__links-list_2 {
  display: flex;
  gap: 0px 25.5px;
  list-style-type: circle;
}

.address {
  width: 260px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header_address {
  font-style: normal;
}

.cover-background {
  width: 1440px;
  height: 757px;
  margin: auto;
  background-image: url("../images/cover.jpg");
  background-size: 100%;
}

.overlay {
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /*затемнил фон*/
}

.cover-text-1 {
  position: absolute;
  top: 458px;
  z-index: 11;
  padding-left: 50px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
  word-spacing: 0;
}

.cover-text-1-1 {
  position: absolute;
  top: 458px;
  z-index: 11;
  padding-left: 290px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115px;
  letter-spacing: 60px;
  text-transform: uppercase;
  word-spacing: 0;
}

.cover-text-2 {
  position: absolute;
  top: 593px;
  z-index: 11;
  padding-left: 510px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100px;
  letter-spacing: 30px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0;
}

.cover-text-2-1 {
  position: absolute;
  top: 593px;
  z-index: 11;
  padding-left: 813px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100px;
  letter-spacing: 60px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0;
}

.cover-text-3 {
  position: absolute;
  top: 713px;
  z-index: 11;
  padding-left: 975px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100px;
  letter-spacing: 60px;
  text-align: right;
  text-transform: uppercase;
  word-spacing: 0;
}

.cover-text-3-1 {
  position: absolute;
  top: 713px;
  z-index: 11;
  padding-left: 1110px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100px;
  letter-spacing: 30px;
  text-align: right;
  text-transform: uppercase;
  word-spacing: 0;
}

.cover__description {
  z-index: 12;
  display: flex;
  justify-content: left;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.cover__description-text {
  position: absolute;
  top: 960px;
  padding-left: 422px;
  line-height: 28px;
  word-spacing: 17.5px;
}

.bet-button {
  position: relative;
  top: -100px;
  left: 1135px;
  border: 1px solid #fff;
  padding: 12px 32px;
  line-height: normal;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  width: 1340px;
  height: 579px;
  margin: auto;
  margin-top: 180px;
}

.card_header {
  display: flex;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots-link {
  display: flex;
  padding-top: 30px;
  padding-left: 40px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration: underline;
}

.overlay-card {
  position: absolute;
  z-index: 10;
  width: 100%;
  max-width: 430px;
  height: 100%;
  max-height: 450px;
  background-color: rgba(0, 0, 0, 0.6); /*затемнил фон*/
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
}

.lots__card-list-item {
  display: flex;
  width: 430px;
  height: 450px;
  border: 2px solid #000;
}

.card-content {
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  max-height: 350px;
  margin-top: 50px;
  margin-left: 40px;
}

.card-img-first {
  background-image: url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-second {
  background-image: url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-third {
  background-image: url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.about {
  display: grid;
  grid-template-columns: 430px 316px 1fr;
  grid-template-rows: 100px 47px 100px 1fr 1fr;
  justify-items: center;
  width: 1340px;
  height: 487px;
  margin: auto;
  margin-top: 182px;
}

.about__logo {
  grid-column: 1;
  grid-row: 1/3;
  width: 240px;
  height: 240px;
  border: none;
  border-radius: 50%;
  color: #fff;
  background-color: #000000;
}

.about__logo-image {
  background-image: url("../images/logo-white.svg");
  background-repeat: no-repeat;
  background-position: 46px 63px;
  background-size: 60%;
}

.about__title {
  grid-column: 2;
  grid-row: 2;
  padding-left: 25px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text-1 {
  grid-column: 2/4;
  grid-row: 4;
  padding-left: 25px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about__text-2 {
  grid-row: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  padding-left: 25px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

footer {
  width: 1340px;
  margin: auto;
  margin-top: 180px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-list-item {
  list-style-type: none;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__social-list {
  width: 240px;
  height: 48px;
}

.footer__social-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__social-icon {
  display: block;
  max-height: 48px;
}
